.App {
  text-align: center;
}

nav {
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(47, 44, 51);
  color: white;
  text-decoration: none;
}

#navLogo {
  color: red;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

#pokeballImg {
  max-width: 30%;
  max-height: 30%;
}

.pokemonImg {
  max-height: 40vh;
}

.pokemonType {
  display: flex;
  justify-content: space-evenly;
}